meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")

base(href="/")

title Chris Ross Harris | Designer & Photographer

meta(name="description" content="Chris Ross Harris is a Designer and Photographer based in Louisville, Kentucky with focus on Branding and Visual Design Systems.")

link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
link(rel="manifest" href="/site.webmanifest")
link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#151c13")
meta(name="msapplication-TileColor" content="#151c13")
meta(name="theme-color" content="#151c13")

meta(property="og:url" content="https://chrisrossharris.com/")
meta(property="og:title" content="Chris Ross Harris | Designer & Photographer")
meta(property="og:image" content="https://chrisrossharris.com/share.jpg")
meta(property="og:description" content="Chris Ross Harris is a Designer and Photographer based in Louisville, Kentucky with focus on Branding and Visual Design Systems.")

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="@chrisrossharris")
meta(name="twitter:title" content="Chris Ross Harris | Designer & Photographer")
meta(name="twitter:description" content="Chris Ross Harris is a Designer and Photographer based in Louisville, Kentucky with focus on Branding and Visual Design Systems.")
meta(name="twitter:image:src" content="https://chrisrossharris.com/share.jpg")

link(rel="preload" as="font" href="playfair-display-regular.woff" type="font/woff" crossorigin="anonymous")

link(rel="preload" as="font" href="ampersand.woff2" type="font/woff2" crossorigin="anonymous")

style.
  html {
    font-size: calc(100vw / 1920 * 10);
  }

  @media (max-width: 767px) {
    html {
      font-size: calc(100vw / 375 * 10);
    }
  }
